* {
	padding: 0;
	margin: 0 auto;

}
body {
	width: 1600px;
	margin: 0 auto;
	
}
header {
	background-image: url('../images/design_01.png');
	width: 1500px;
	height: 530px;
	border: 1px solid #ffffff;
}
 div.img1 {
	background-image: url('../images/design_02.png');
	width: 1500px;
	height: 460px;
}
/*第一部分文字*/
.section1 {
	background: #ffffff;
	height: 310px;
	width: 1500px;
	border-bottom: 1px solid  #A9A9A9;

}

section div p.Boatloads_of_Awesome {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 687.937px;
  top: 1077px;
  z-index: 230;
  
}
section div p.Ready_made__customizable__HTML_landing_page_sec {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(20, 20, 20);
  line-height: 1.238;
  text-align: center;
  position: absolute;
  left: 440.488px;
  top: 1128.783px;
  width: 657px;
  height: 93px;
  z-index: 229;
  
}
section.container {
	background: #ffffff;
	height: 400px;
	

	
}
section div.section2 {
	background-image: url('../images/design_07.png');
	height: 286px;
	width: 1036px;
	margin: 0 auto;

}
section div.section3 {
	background-image: url('../images/design_10.png');
	height: 700px;
	width: 1500px;
	margin: 0 auto;

}
/*第二部分文字*/
section.container2 {
	height: 590px;
	overflow: hidden;
	display: flex;

} 
section div p.Try_Our_Awesome_Products {
  font-size: 42px;
  font-family: "Montserrat";
  color: rgb(20, 20, 20);
  line-height: 1.238;
  text-align: center;
  position: absolute;
  left: 461.515px;
  top: 2500.783px;
  width: 535px;
  height: 41px;
  z-index: 173;
}
.Singleton {
  
  position: absolute;
  left: 395px;
  top: 2650px;
  width: 120px;
  height: 35px;
  z-index: 169;
}
.Li_Jun__a_China_Academy_of_Engineering_academic {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba(20, 20, 20, 0.702);
  line-height: 1.625;
  text-align: center;
  position: absolute;
  left: 326.637px;
  top: 2700.546px;
  width: 251px;
  height: 198px;
  z-index: 168;
}
.Hero {
  position: absolute;
  left: 762px;
  top: 2650px;
  width: 76px;
  height: 34px;
  z-index: 165;
}
.Li_said_the_smart_car_industry_is_able_to_enlar {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba(20, 20, 20, 0.702);
  line-height: 1.625;
  text-align: center;
  position: absolute;
  left: 666.14px;
  top: 2700.546px;
  width: 264px;
  height: 172px;
  z-index: 164;
}
.Portland {
  
  position: absolute;
  left: 1092px;
  top: 2650px;
  width: 117px;
  height: 31px;
  z-index: 161;
}
.Zhang_Junyi__a_partner_with_NIO_Capital__said_t {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba(20, 20, 20, 0.702);
  line-height: 1.625;
  text-align: center;
  position: absolute;
  left: 1013.821px;
  top: 2700.546px;
  width: 265px;
  height: 172px;
  z-index: 160;
}
/*图文部分*/
div.part {
	height: 1000px;
	width: 1600px;
	margin: 0 auto;
	border-bottom: 1px solid #A9A9A9;
	overflow: hidden;
}
div.arcticle {
	margin-left: 315px;
	margin-top: 120px;
	height: 880px;
	overflow: hidden;

}
.img2 {

	height: 350px;
	width: 570px;
	float: left;
	margin-right: 10px;
}
.img3 {
	height: 350px;
	width: 570px;
	float: right;
	margin-left: 10px;
	
}
.box0 {
	overflow: hidden;
	margin-right: 300px;

}
.box1 {
	margin-top: 80px;
	overflow: hidden;
	margin-right: 300px;
	padding-left: 10px;
}
b {
	font-size: 30px;

}
 #text0 {
	font-weight: 15px;
	margin: 30px 10px;
	
}
/*Our Awesome Crew*/
div.part2 {
	height: 1100px;
	margin-left: 315px;
	margin-right: 300px;


}
div.box2 {
	height: 270px;
	text-align: center;
	padding-top: 150px;
	box-sizing: border-box;

}
.img5 {
	margin-left: 36px;
}
div.part3 {
	height: 660px;
}
div.back {
	margin-top: 50px;
	background-color:#DCDCDC;
	height: 40px;
	width: 1600px;
}
div a:hover {
  
  opacity: 0.5;

}

